{%extends 'Learning_logs/base.html'%}


{% block page_header %}
  <h1>{{ topic.text }}</h1>
{% endblock page_header %}


{%block content%}

<p>
    <a href="{% url 'Learning_logs:new_entry' topic.id %}">Add new entry</a>
</p>


    {%for x in entries%}
    <div class="card mb-3">
        <!-- Card header with timestamp and edit link -->
         <h4 class="card-header">
          {{ x.date_added|date:'M d, Y H:i' }}
           <small><a href="{% url 'Learning_logs:edit_entry' x.id %}">
            edit entry</a></small>
        </h4>
        <!-- Card body with entry text -->
         <div class="card-body">{{ x.text|linebreaks }}</div>
      </div>
        <!--  In Django templates, a vertical line (|) represents a template filter—
a function that modifies the value in a template variable during the rendering 
process. -->
        <!-- The filter linebreaks ensures that long text entries include line breaks 
in a format understood by browsers, -->

        <!--From edit_entry-->

    {%empty%}
    <li>There are no entries for this topic yet.</li>
    {%endfor%}

</ul>
{%endblock content%}